@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Metal Mania", system-ui;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  letter-spacing: 3px;
  font-size: 40px;
  padding-left: 70px;
  margin: none;
}

p {
  display: flex;
  justify-content: center;
  align-items: end;
  letter-spacing: 1px;
  font-size: 25px;
}

.buttons {
  margin-right: 20px;
}

button, .signup {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none; /* Remove default link underline */
  cursor: pointer; /* Change cursor on hover */
  display: inline-block; /* Ensure link behaves like a block element */
  font-family: "Metal Mania", system-ui;
}

button:hover, .signup:hover {
  background-color:#8B0000;
  color: white;
}

.login {
  background-color: #727272; /* Change to desired color */
  color: rgb(0, 0, 0);
  border: none;
}

.signup {
  background-color: #727272; /* Change to desired color */
  color: rgb(0, 0, 0);
  border: none;
}
