@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Metal Mania", system-ui;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  letter-spacing: 3px;
  font-size: 60px;
  padding-left: 70px;
  margin: none;
}

p {
  display: flex;
  justify-content: center;
  align-items: end;
  letter-spacing: 1px;
  font-size: 22px;
}

.subheading{
  font-size: 32px;
}

.name{
  font-size: 25px;
  color: #8B0000;
}

.highlight {
  color:#8B0000;
  font-size: 60px;
  font-family: "Metal Mania", system-ui;
}

.buttons {
  margin-right: 20px;
}

button, .signup, .login, .add-entity-btn, .update-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none; /* Remove default link underline */
  cursor: pointer; /* Change cursor on hover */
  display: inline-block; /* Ensure link behaves like a block element */
  font-family: "Metal Mania", system-ui;
  color: rgb(0, 0, 0);
  border: none;
}

button:hover, .signup:hover, .login:hover, .add-entity-btn:hover, .update-button:hover {
  background-color:#8B0000;
  color: white;
}

.add-entity-btn{
  width: 100px;
  display: flex;
  justify-content: center;
}

.update-button, .delete-btn{
  margin-bottom: 10px;
}

.delete-update{
  display: flex;
  justify-content: center;
}

.add{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.mongo-data{
  border: 2px solid white;
  margin: 20px;
}
